<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title>Registration</title>
</head>
<body>
<form th:object="${user}" method="POST" enctype="utf8">
    <table>
        <tr>
            <td>
                <label>First name</label>
            </td>
            <td>
                <input th:field="*{firstName}" class="form-control" required="required" placeholder="First Name"/>
                <!--<form:input path="firstName" value="" /></td>-->
            <!--<form:errors path="firstName" element="div"/>-->
            </td>
        </tr>
        <tr>
            <td>
                <label>Last Name</label>
            </td>
            <td>
                <input th:field="*{lastName}" class="form-control" required="required" placeholder="Last Name"/>
                <!--<form:input path="lastName" value="" /> -->
            </td>
            <!--<form:errors path="lastName" element="div" />-->
        </tr>
        <tr>
            <td>
                <label>Email</label>
            </td>
            <td>
                <input th:field="*{email}" class="form-control" required="required" placeholder="Email"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input th:field="*{password}" class="form-control" required="required" placeholder="Password"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Confirm password</label>
            </td>
            <td>
                <input th:field="*{matchingPassword}" class="form-control" required="required" placeholder="Matching password"/>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
</form>
<br/>
</body>
</html>